<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/styles.css">
<title>Change Password Screen</title>
</head>
<body>
    <div class="container">
      <form action="/changePassword" method="post">
        <label>New Password: </label><input type="password" name="newPassword"
				placeholder="New Password" required><br><br> 
		<label>Confirm Password: </label> <input type="password" name="confirmPassword" placeholder="Confirm Password"
			required> <br> <br>

         <input type="submit" value="Change Password" class="submit-button">
		</form> 
    </div>
</body>
</html>