<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>KodBook Sign Up</title>
</head>
<body>
     <h1>KodBook</h1>
     <h3>Create Account on our Social Media App !!</h3>
     <hr>
     
     <form action="/signUp" method="post">
    <label>Username: </label>
    <input type="text" name="username">
    <br><br>
    
    <label>Email: </label>
    <input type="email" name="email">
    <br><br>
    
    <label>Password: </label>
    <input type="password" name="password">
    <br><br>
    
    <label>DOB: </label>
    <input type="date" name="dob">
    <br><br>
    
    <label>Gender : </label>
	<label>M</label><input type = "radio" name = "gender" value = "M">
	<label>F</label><input type = "radio" name = "gender" value = "F">
	<label>O</label><input type = "radio" name = "gender" value = "O">
	<br><br>	
    
    <input type="submit" value="Sign Up">
    
    <hr>
    
    <a href = "/">Already Have Account? Login Instead...</a>
  
  </form>
</body>
</html>